/********** Base styles **********/

body {
  font-family: 'Cinzel', serif;
  font-size: 16px;
  background-color: #484545;
  color: #EF0505;
}

body h1 {
  text-shadow: 1px 1px 1px #222;
}

#main {
  margin-top: 15px;
  margin-bottom: 40px;
}

#header-nav {
  background-color: #0456E5;
  border: 2px solid #000000;
}

.navbar-header {
  height: 100px;
}

.navbar-brand {
  margin-left: 15px;
}

.navbar-brand h1 {
  color: #FFFFFF;
  line-height: 1;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-toggle {
    padding: 14px 10px;
    margin-top: 30px;
    margin-right: 25px;
}

#nav-list {
  background-color: #FFFFFF;
  color: #000000;
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.2em;
}

#nav-list li {
  border: 2px solid #000000;
}

.container {
  margin-bottom: 40px;
}

.container h2 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.container #column {
  background-color: #FFFFFF;
  color: #000000;
  line-height: 1.4;
  font-weight: 500;
}

/********** Mobile Devices **********/
@media (max-width: 767px){
  .container {
    width: 80%;
  }
}

